h1 {
	color:white;
	 text-align:center;
}
h2{
	color:white;
}
h3 {
	color:white;
}
body {
	background-image: url(jungle_background_3.jpg);
}
p {
	color:white;
}
#cover {
	background-color: black;
	background-attachment: fixed;
	opacity: .5;
}